<!doctype html>
<html lang="en">

	<head>
		<title>ClassBattles</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="/images/favicon.ico">

		<!-- Loading Stylesheets -->
		<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="/css/common.css" rel="stylesheet">
		<link href="/css/home.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
		<!--[if lt IE 9]>
		  <script src="/js/lib/html5shiv.js"></script>
		  <script src="/js/lib/respond.min.js"></script>
		<![endif]-->
	</head>
	
	<body>
		<!-- .container -->
		<div class="container fill">
			
			<div class="row btn-group nav">
				<a href="/{{user.username}}/home" class="btn btn-inverse nav-left">
					<span class="fui-arrow-left"></span>
					<span>home</span>
				</a>
				<div class="btn btn-inverse disabled nav-middle">
					<span>ClassBattles</span>
				</div>
				<a href="#" class="btn btn-inverse nav-right invisible">
					<span class="fui-arrow-right"></span>
				</a>
			</div>
			
			<div class="row content">
				<h3>{{class.name}}</h3>
				<a href="/challenge" class="center-block">Challenge</a>
				<a href="/{{user.username}}/class/{{class.name}}/leaderboard" class="center-block">Leaderboard</a>
				<a href="/{{user.username}}/class/{{class.name}}/profile" class="center-block">Class Profile</a>
			</div>
			
			<div class="row menu-cont">
				<div class="btn btn-danger fui-list center-block menu-btn"></div>
			</div>
		</div>
		<!-- /.container -->
		
		<div class="menu-guide hidden">
			<div class="btn-group-vertical">
				<a href="/{{user.username}}/home" class="btn btn-sm btn-inverse btn-wide menu-home-btn">Home</a>
				<a href="/challenge" class="btn btn-sm btn-inverse btn-wide menu-challenge-btn">Challenge</a>
				<a href="/{{user.username}}/class/{{class.name}}/leaderboard" class="btn btn-sm btn-inverse btn-wide menu-leaders-btn">Leaderboard</a>
				<a href="/{{user.username}}/class/{{class.name}}/profile" class="btn btn-sm btn-inverse btn-wide menu-profile-btn">Class Profile</a>
		        <a href="/logout" class="btn btn-sm btn-inverse btn-wide menu-logout-btn">Log out</a>
		        <a href="/about" class="btn btn-sm btn-inverse btn-wide menu-about-btn">About</a>
		    </div>
		</div>

		<!-- Load JS here for greater good =============================-->
		<script src="/js/lib/jquery-1.8.3.min.js"></script>
		<script src="/js/lib/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="/js/lib/jquery.ui.touch-punch.min.js"></script>
		<script src="/js/lib/bootstrap.min.js"></script>
		<script src="/js/lib/bootstrap-select.js"></script>
		<script src="/js/lib/bootstrap-switch.js"></script>
		<script src="/js/lib/flatui-checkbox.js"></script>
		<script src="/js/lib/flatui-radio.js"></script>
		<script src="/js/lib/jquery.tagsinput.js"></script>
		<script src="/js/lib/jquery.placeholder.js"></script>
		
		<script src="/js/common.js"></script>
	</body>

</html>
