<!doctype html>
<html lang="en">

	<head>
		<title>ClassBattles</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="images/favicon.ico">

		<!-- Loading Stylesheets -->
		<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="/css/common.css" rel="stylesheet">
		<link href="/css/home.css" rel="stylesheet">
		<link href="/css/challenge.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
		<!--[if lt IE 9]>
		  <script src="/js/lib/html5shiv.js"></script>
		  <script src="/js/lib/respond.min.js"></script>
		<![endif]-->
	</head>
	
	<body>
		<div class="container fill">
			
			<div class="row btn-group nav">
				<a href="/class.html" class="btn btn-inverse nav-left disabled" style="visibility: hidden">
						<span class="fui-arrow-left"></span>
						<span>class</span>
				</a>
				<div class="btn btn-inverse disabled nav-middle">
					<span>ClassBattles</span>
				</div>
				<a href="/challenge.html" class="btn btn-inverse nav-right" style="visibility: hidden">
					<span>continue</span>
					<span class="fui-arrow-right"></span>
				</a>
			</div>
			
			<div class="row content">
				<h3>{{#if correct}}Correct!
					<span class="fui-check" style="color: #27AE60"></span>
					{{else}}
						{{#if timedOut}}
							Timed Out!
						{{else}}
							Wrong!
						{{/if}}
					<span class="fui-cross" style="color: #E74C3C"></span>
					{{/if}}
				</h3>
				{{#if correct}}
				<h4>You responded:</h4>
				<blockquote>
					<p>
						{{correctAnswer}}
						<small>Points will contribute toward:</small>
						{{#each tags}}
						<span class="btn btn-xs btn-info">{{tag}}</span>
						{{/each}}
					</p>
				</blockquote>
				{{else}}
					{{#if timedOut}}
					{{else}}
					<h4>You responded:</h4>
					<blockquote>
						<p>
							{{selected}}
						</p>
					</blockquote>
					{{/if}}
				<h4>The correct answer was:</h4>
				<blockquote>
					<p>
						{{correctAnswer}}
					</p>
				</blockquote>
				{{/if}}
              	<center>
					<a class="btn btn-primary btn-lg btn-wide" href="/challenge.html">
						Next question
					</a>
					<a class="btn btn-danger btn-lg btn" href="/class.html">
						Abandon
					</a>
				</center>
				<br/>
				<div class="race">
					<div class="race-me" style="margin-left:100px"><span class="fui-radio-checked"></span></div>
					<div class="race-other"><span class="fui-radio-unchecked"></span></div>
				</div>
				<div class="race-pts">
					<div class="race-pts-left"><small>0%</small></div>
					<div class="race-pts-right"><small>100%</small></div>
				</div>
			</div>
		</div>
		<!-- /.container -->

		<!-- Load JS here for greater good =============================-->
		<script src="/js/lib/jquery-1.8.3.min.js"></script>
		<script src="/js/lib/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="/js/lib/jquery.ui.touch-punch.min.js"></script>
		<script src="/js/lib/bootstrap.min.js"></script>
		<script src="/js/lib/bootstrap-select.js"></script>
		<script src="/js/lib/bootstrap-switch.js"></script>
		<script src="/js/lib/flatui-checkbox.js"></script>
		<script src="/js/lib/flatui-radio.js"></script>
		<script src="/js/lib/jquery.tagsinput.js"></script>
		<script src="/js/lib/jquery.placeholder.js"></script>
		
		<script src="/js/common.js"></script>
		<script src="/js/challenge.js"></script>
		<script>
		    Menu('<div class="btn-group-vertical">\n' +
				'<a href="/home.html" class="btn btn-sm btn-inverse btn-wide menu-home-btn">Home</a>\n' +
				'<a href="/leaders.html" class="btn btn-sm btn-inverse btn-wide menu-leaders-btn">Leaderboard</a>\n' +
				'<a href="/profile.html" class="btn btn-sm btn-inverse btn-wide menu-profile-btn">Profile</a>\n' +
		        '<a href="/" class="btn btn-sm btn-inverse btn-wide menu-logout-btn">Log out</a>\n' +
		        '<a href="/about.html" class="btn btn-sm btn-inverse btn-wide menu-about-btn">About</a>\n' +
		    '</div>');
		</script>
	</body>

</html>